{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
  </head>
  <body data-bg="{{ bg_url }}">
  <script>
    // Immediately apply saved background before page renders
    const savedBg = localStorage.getItem("background");
    if (savedBg) {
        document.body.style.backgroundImage = `url('${savedBg}')`;
    }
    </script>
    <!-- fixed header with Home + Background buttons -->
    <header>
      <a href="{% url 'polls:index' %}" class="header-button">Home</a>
      <div class="dropdown">
        <button id="bgButton" class="header-button">Season</button>
        <ul class="bg-menu">
          <li data-bg="/static/polls/images/pinney_sunset.jpg">Winter</li>
          <li data-bg="/static/polls/images/Antonio-Cardoso1.jpg">Summer</li>
        </ul>
      </div>
    </header>
      <!-- Only this div will be replaced when navigating -->
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    <script src="{% static 'polls/script.js' %}"defer></script>
  </body>
</html>
