body {
    background: white url("images/Antonio-Cardoso1.jpg") no-repeat;
    /* background-size: contain; Adjust the size while keeping the aspect ratio */
    background-size: cover; /* Resize the image to cover the entire background */
    background-color: #17202A;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
}
  
h1 {
font-size: 24px;
}

ul {
padding-left: 20px;
}

li {
margin-bottom: 10px;
}
  
input[type="radio"] {
    accent-color: black; /* Sets the color of the radio button itself */
    margin-right: 10px; /* Adds space between the radio button and the label */
}
